@font-face {
  font-family: PokemonBold;
  src: local('PokemonFont'), url('./fonts/Pokemon Solid.ttf') format('truetype');
}

@font-face {
  font-family: PokemonRegular;
  src: local('PokemonRegular'),
  url('./fonts/Pokemon\ GB.ttf') format('truetype');
}

:root {
  --poke-yellow: #fcc803;
  --poke-blue: #2b65ae;
}

body {
  font-family: PokemonRegular, sans-serif;
  margin: 0;
  padding-top: .5rem;
}

.app__header {
  width: 30%;
  margin: 0 auto;
  border: .1rem solid black;
}

.app__title {
  font-family: PokemonBold;
  font-size: 3rem;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: .5rem;
  color: var(--poke-yellow);
  -webkit-text-stroke: 3px var(--poke-blue);
}
