@font-face {
  font-family: PokemonBold;
  src: local('PokemonFont'), url('./fonts/Pokemon Solid.ttf') format('truetype');
}

@font-face {
  font-family: PokemonRegular;
  src: local('PokemonRegular'),
    url('./fonts/Pokemon\ GB.ttf') format('truetype');
}

:root {
  --button-blue: #0488ff;
  --poke-blue: #3761a8;
  --poke-contrast-blue: #174a76;
  --poke-gray: #314148;
  --poke-yellow: #fcc803;
  --regular-border: 0.1rem solid var(--poke-gray);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 0.5rem;
  font-family: PokemonRegular, sans-serif;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 2rem;

  gap: 2rem;
  padding-inline: 2rem;
}

.flex-wrapper__aside {
  flex-basis: 30%;
}

.app__header {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  border: 0.2rem solid var(--poke-blue);
}

.filter {
  position: relative;
}

.filter::before {
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 0.8rem;
  height: 0.5rem;
  content: '';
  transform: translateY(-50%);
  background-color: var(--poke-yellow);

  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.filter__select {
  display: grid;
  width: 100%;
  padding: 1rem 2rem;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--element-color, #fff);
  border: transparent;
  background-color: var(--poke-contrast-blue);
  font-family: inherit;
  font-size: 1rem;

  appearance: none;
}

.filter__select:focus-within {
  outline: 4px solid var(--poke-yellow);
}

.filter__option {
  text-transform: capitalize;
  color: var(--element-color, #fff);
  background-color: var(--poke-contrast-blue);
  font-size: 1.2rem;
}

.app__title {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: 0.5rem;
  color: var(--poke-yellow);
  font-family: PokemonBold;
  font-size: 3rem;

  -webkit-text-stroke: 3px var(--poke-blue);
}

.app__main {
  flex-grow: 1;
  margin-top: 1rem;
}

.pokelist {
  display: grid;

  gap: 2rem;
}

.pokelist__button {
  cursor: pointer;
  text-transform: capitalize;
  color: #fff;
  border: var(--regular-border);
  border-radius: 0.5rem;
  background-color: var(--button-blue);
  box-shadow: 2px 4px 0 0 rgba(48, 48, 48, 0.498);
  font-family: PokemonRegular;
  font-weight: 600;

  grid-column: 1/-1;
  padding-block: 1rem;
}

.pokelist__button:active {
  transform: translateY(2px);
  background-color: var(--poke-contrast-blue);
  box-shadow: 2px 2px 0 0 rgba(48, 48, 48, 0.705);
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 2rem;
  cursor: pointer;
  border: var(--regular-border);

  gap: 0.5rem;
}

.pokemon__sprite {
  width: auto;
  height: 200px;
}

.pokemon__name {
  font-weight: 600;
}

.pokemon__elements {
  display: flex;
  align-self: flex-start;
  font-size: 0.7rem;

  gap: 1rem;
}

.pokemon__element {
  padding: 0.5rem 1rem;
  border: 0.1rem solid var(--element-color);
  border-radius: 5px;
  background-color: var(--element-color);
  background-image: linear-gradient(to bottom, #fff, var(--element-color));
}

.pokemon__name,
.pokemon__element {
  text-transform: capitalize;
}

.pokestats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  border: var(--regular-border);

  gap: 1rem;
}

.pokestats__name {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 600;
}

.pokestats__table {
  width: 100%;
  font-size: 0.9rem;
}

.pokestats__row {
  display: grid;
  text-align: center;
  text-transform: capitalize;
  border: var(--regular-border);

  grid-auto-rows: 4rem;
  grid-template-columns: 2fr 1fr;
}

.pokestats__row:not(:last-child) {
  border-bottom: transparent;
}

.pokestats__key,
.pokestats__value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.pokestats__key {
  border-right: var(--regular-border);
}

@media screen and (min-width: 992px) {
  .pokestats {
    position: sticky;
    top: 1rem;
    margin-top: 1rem;
  }
  .flex-wrapper {
    flex-direction: row;
  }

  .app__header {
    width: 30%;
  }

  .pokelist {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .pokelist {
    grid-template-columns: repeat(3, 1fr);
  }
}
